
body {
  margin:0 auto;
  padding:0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/**
** HEADER STYLES
*/

header {
  display: flex;
  gap:1em;
  align-items: center;
  margin:1.2em 0.8em;

  .header-logo {
    width:70px;
    height:70px;
    object-fit: cover;
    border-radius: 50%;
  }

  p {
    font-weight: bold;
    text-transform: uppercase;
    color:#333;
  }

  nav {
    cursor: pointer;

    ul {
      list-style-type: none;
      display:flex;

      li {
        padding:0.8em 0;
        margin-right: 1em;

        a{
          text-decoration: none;
          color:#333
        }
      }
    }
  }


  .nav-menu {
    margin-left: 1rem;
    position: relative;
  }
}

/**
** HEADER MEDIA QUERY
*/

@media (min-width: 756px) {
  header {
    gap: 1.2em;
    margin: 1.2em 2em;

    p {
      font-size: 1.4rem;
      color:#333;
    }

    nav {
      margin-left: auto;
    }

    nav ul {
      font-size:1.2rem;
      display: flex;
      justify-content: space-around;
      gap: 1.2em;
      text-transform: uppercase;
      margin:0 1em 0 0;
    }

    .nav-menu {
      margin-left: 1rem;
      position: relative;
      display:none;
    }
  }
}

/*
** HOME PAGE
* subtle-prism from 
* <a href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/">Free SVG Backgrounds and Patterns by SVGBackgrounds.com</a>
*/

.home-hero {
  color: #fff;
  background: url(./assets/subtle-prism.svg);
  background-position: center;
  padding:1.2em;
  height: 100%;
}

.home-hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding:0.8em;
  margin-top:4em;

  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    width:35em;
    display: none;
  }
}

.hero-heading{
  font-size:2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.4;
  text-transform: uppercase;
}

.hero-text {
  margin: 3em auto 0 auto;
  max-width: 80%;
}

/* Keyframes for the shimmer effect */
@keyframes shimmer {
  0%, 100% {
    background-position: -50%;
  }
  50% {
    background-position: 150%;
  }
  25%, 75% {
    background-position: 100%;
  }
}


.hero-text {
 text-align: center;
  font-size: 1.3rem;
  line-height: 1.6;
  width:100%;

  span {
    /* Apply the animation to all span elements */
    animation: shimmer 4s infinite linear;
    color: transparent; /* Hide the text color */
    background-image: linear-gradient(
      to right,
      #EA035E 20%,
      #fff 40%,
      #EA035E 60%
    );
    background-clip: text;
    -webkit-background-clip: text; /* For Safari */
    background-size: 200% 100%;
  }
}

.projects-btn {
  background-color: #fff;
  padding: 1em 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor:pointer;
  margin-top: 4em;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.projects-btn:hover {
  transform: translateY(-3px); 
}

/**
* MEDIA QUERY - HERO 
*/

@media (min-width: 756px) {
  .home-hero-content {
    flex-direction: row;

    img {
      width:40%;
      display: block;
      border-radius: 8px;
      box-shadow: 6px 6px 18px 4px #EA035E;
    }
  }
}

/**
** PROJECTS PAGE
**/

section {

  .container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.4em 0;

    h1 {
      font-size: 2rem;
      letter-spacing: 2px;
      color:#333;
      padding-bottom: 0.4em;
      border-bottom: 1px solid #333;
      text-transform: uppercase;
    }

    p {
      text-align: center;
      line-height: 1.6;
      font-size: 1.2rem;
      padding:0 1.2em;
    }
  }
}
section {

  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
       width:25rem;
       margin-bottom: 2em;
    }

    .project-body {
      width: 28em;
    }

    h3 {
      text-align: center;
      font-size: 1.4rem;
    }

    p {
      color:gray;
      line-height: 1.7;
      text-align: justify;
    }

    .links {
      display: flex;
      justify-content: center;
      gap: 2em;
      margin-bottom: 2em;
    }

    a {
      padding: 0.6em 1.5em;
      font-size: larger;
      border-radius: 4px;
      border: none;
      background-color: #00A4E5 ;
      color: white;
      text-decoration: none;
      margin:1em 0;
      
    }
  }
}

/**
** ABOUT PAGE
*/

.sec-about {

  background-color:#fafafa;

  .container {
    max-width: 85%;
    margin: 0 auto;

  h2 {
    text-align: center;
    letter-spacing: 0.2rem;
  }
}

  .about {
    margin-top: 1.2rem;

    p {
      line-height: 1.7;
      text-align: justify;
    }
    h2 {
      padding-bottom: 1.2em;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
    }

    li {
      background-color: lightgray;
      padding: 1em 2em;
      border-radius: 8px;
    }
  }

  }
  /**
  * CONTACT
  */

  .sec-contact {

    color: #fff;
    background: url(./assets/subtle-prism.svg);
    background-position: center;
    height: 100%;

    .container {
    
      h1 {
      color: #fff;
      text-align: center;
      border: none;
      }

      p {
        max-width:40em;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1.3em;

      input {
        border: 1px solid white;
        background-color: #00A4E5;
        color: white;
        padding: 0.8em 1.2em;
        }
        input::placeholder {
          color:white;
        }

        textarea {
          border: 1px solid white;
          background-color: #00A4E5;
          color:white;
          padding: 1em;
        }
        
        textarea::placeholder {
          color:white;
        }

        button {
          padding: 1em 3em;
          border:1px solid white;
          background-color: #00A4E5;
          color:white;
          font-size: large;
        }
      }
    }
  }


  /** 
    MEDIA QUERY (ABOUT & PROJECT & CONTACT)
  *
  */

  @media (min-width:756px) {
    
    section {
  
      .project-container {
        flex-direction: row;
        margin: 4rem 2rem 0 2rem;
        gap: 1em;

        img {
          width: 37em;
        }
  
        h3 {
          text-align: start;
          margin-left: 1em;
        }
  
        .links {
          justify-content: flex-start;
          margin-left: 1.3em;
        }
      }
    }

    .sec-about {

      .container {

        max-width: 70em;

        p {
          max-width: 60em;
        }
      }
      
      .about {
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:2em;
  
        h2 {
          text-align: start;
          margin-left: 1.2em;
        }
      }
    }

    .sec-contact {

      .container {

        display:flex;
        flex-direction: row;
        align-items: flex-start;

        div {
          max-width:40em;
        }

        form {
          width:30%;
        }

        h1 {
          border: none;
          text-align: end;
          margin-right: 2em;
        }
        p {
          text-align: end;
        }
      }
    }
  
  }

 footer {
  background-color: #333;
  color: #fff;
  padding: 1.4em 1em;

  p {
    text-align: center;
    margin: 3em;
  }

  .socials {
    text-align: center;
    margin: 3em 0;

    a {
      text-decoration: none;
      color: inherit;
    }

  .icon{
    width:50px;
    }
  }
}

 @media (min-width:756px) {

  footer {

    .container {
      display: flex;
      justify-content: space-between;
    }
  }
 }




